.container {
    width: 1280px;
    margin: auto;
}

/* TOP IMAGE */
.top-image {
    background-image: url(../img/top-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    height: 790px;
}

/* TOP NAVIGATION BAR */
.top-navigation {
    text-align: center;
    padding: 35px;
}

.top-navigation > a {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: #16a085;
    font-size: 18px;
    margin: 0 32px;
}

/* MAIN ARTICLE */
h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    font-size: 22px;
    margin: 0 auto;
}

main > p {
    text-align: center;
    color: #373737;
    margin: 34px auto 0;
    max-width: 1059px;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 26px;
}

main.main-article {
    background-color: #f5f6f7;
    padding-top: 56px;
    padding-bottom: 94px;
}

button.start-button {
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: GothamRounded, sans-serif;
    margin-top: 40px;
}

.button-container {
    text-align: center;
    margin: auto;
}

/* FOOTER */
footer > p.copyright {
    color: #373737;
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    margin: 0;
}

footer {
    padding: 45px;
}